@mixin font-face ($path, $weigth: 400 ) {
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/#{$path}.woff2') format('woff2'), 
             url('../fonts/#{$path}.woff') format('woff');

        font-weight: $weigth;
        font-style: normal;
    }
}

@include font-face('Montserrat-Regular');
@include font-face('Montserrat-Bold', 700);

$font-name: 'Montserrat';
$weight-reg: 400;
$weight-bold: 700;