@mixin flex($ai: center, $jc: center, $g: 0, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
  flex-direction: $fd;
}

$breakpoints: (
  "mobile": 375px,
  "tabletsd": 768px,
  "tablethd": 1024px,
  "desktopsd": 1440px,
  "desktophd": 1920px
);

@mixin media($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
  }

  @else {
    @media (max-width: $size) {
      @content;
    }
  }
}


@mixin font-style ($size: 16px, $weight: 400, $line: normal, $path: null) {
  @if $path {
    @font-face {
      font-family: 'Montserrat';
      src: url('../fonts/#{$path}.woff2') format('woff2'),
      url('../fonts/#{$path}.woff') format('woff');

      font-weight: $weight;
      font-style: normal;
      font-display: swap;
    }
  } @else{
  font-family: 'Montserrat',
  sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  }
}