@mixin flex($ai:center, $jc:center, $g:0, $fd:row){
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    gap: $g;
    flex-direction: $fd;
}

$breakpoints:(
    "mobile": 375px,
    "tabletsd": 768px,
    "tablethd": 1024px,
    "desktopsd": 1440px,
    "desktophd": 1920px

);

@mixin media($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @media (max-width: $size) {
      @content;
    }
  }
}


@mixin font-face ($path, $weigth: 400 ) {
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/#{$path}.woff2') format('woff2'), 
             url('../fonts/#{$path}.woff') format('woff');

        font-weight: $weigth;
        font-style: normal;
    }
}

@include font-face('Montserrat-Regular');
@include font-face('Montserrat-Bold',700);

$font-name: 'Montserrat';
$weight-reg: 400;
$weight-bold: 700;