@use 'colors';
@use 'mixins';

@include mixins.font-style($path: 'Montserrat-Regular', $weight: 400);
@include mixins.font-style($path: 'Montserrat-Bold', $weight: 700);

.hero {
   @include mixins.font-style(38px, 700);
   background: colors.$grad-red-text;
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

h2 {
   @include mixins.font-style(30px, 700);
   color: colors.$main-reg;
}

h3 {
   @include mixins.font-style(22px, 700);
   color: colors.$main-reg;
}

.caps {
   @include mixins.font-style(14px, 700);
   color: colors.$main-reg;
   letter-spacing: 1px;
   text-transform: uppercase;
}

h4 {
   @include mixins.font-style(16px, 700);
   color: colors.$main-reg;
}

p {
   @include mixins.font-style(16px, 400, 26px);
   color: #000;
}

ul,
ol {
   @include mixins.font-style(18px, 400, 26px);
   color: #000;

   li::marker {
      color: colors.$accent;
   }
}

a {
   @include mixins.font-style(16px, 400, 20px);
   color: colors.$active-reg;
   text-decoration: none;
   transition: color 0.3s ease;

   &:hover {
      color: colors.$accent;
   }
}