@use 'colors';
@use 'mixins' as *;
@use 'typography';
@use 'header';
@use 'footer';


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

.wrapper {
    @include flex(stretch, flex-start, 0, column);
    background: colors.$grad-supersoft;
}

.main {
    padding: 30px 0 60px 30px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    h1{
        margin: 0;
        padding: 0;
    }

    &__menu {
        padding-bottom: 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
        background-size: calc(100% - 30px) 4px;
        background-position: 0 100%;
        background-repeat: no-repeat;
    }

    &__scroll {
        @include flex(center, flex-start, 30px);
        @include font-style(30px, 700);
        white-space: nowrap;
        display: inline-flex;
        padding: 0 30px 15px 0;
        list-style: none;
        margin: 0;
        color: colors.$gray-text;
    }

    &__scroll-item {
        cursor: pointer;
        position: relative;
        transition: color 0.3s;

        &:hover {
            color: colors.$accent;
        }

        &--active {
            color: colors.$accent;
        }
    }

    &__cont {
        @include flex(flex-start, center, 0, column);
        padding: 30px 30px 0 0;
    }

    &__description {
        @include flex(flex-start, center, 30px, column);

        &-title {
            @include font-style(20px, 700);
            color: #fff;
        }

        &-text {
            margin: 0;
            @include font-style(19px, 400);
            line-height: 30px;
            color: #fff;
        }
    }
    &__content{
     @include flex(flex-start, flex-start, 0, column);
    padding: 30px 0 0 0;
    }

    &__service {
        @include flex(flex-start, center, 10px, column);

        &-btn {
            @include flex(center, center, 2px);
            background: none;
            @include font-style(14px, 700);
            color: colors.$active-reg;

            &:hover {
                color: colors.$accent;
                transition: color 0.3s ease;
            }
        }

        &-title {
            @include font-style(30px, 700);
        }
    }
}