@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.hero {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

.caps {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}

ul,
ol {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
ul li::marker,
ol li::marker {
  color: #F0145A;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #F0145A;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-image: url("../images/Symbol.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 600px;
}
.header__menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0;
  flex-direction: column;
}
.header__top {
  background: rgba(245, 245, 250, 0.2);
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  position: relative;
  z-index: 1;
  align-self: stretch;
}
.header__lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-direction: row;
}
.header__lang-btn {
  background: transparent;
  padding: 5px 7px;
  border-radius: 8px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}
.header__lang-btn:hover {
  background: #F0145A;
}
.header__lang-btn--active {
  background: #F0145A;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
}
.header__geo {
  display: none;
}
.header__number {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.header__messanger {
  display: none;
}
.header__down {
  padding: 15px 15px 10px 15px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
}
.header__logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  flex-direction: row;
  text-decoration: none;
}
.header__logo-svg {
  width: 70px;
  height: 32px;
  color: #fff;
}
.header__decoration {
  width: 12px;
  height: 26px;
}
.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}
.header__hamburger:active {
  background-color: #E6E6F0;
}
.header__hamburger-svg {
  width: 32px;
  height: 32px;
  display: block;
  color: #fff;
}
.header__pages-title {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.header__nav {
  display: none;
}
.header__hero {
  margin-top: 130px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  flex-direction: column;
}
.header__title {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  margin: 0 30px;
}
.header__arrow-svg {
  width: 42px;
  height: 42px;
  cursor: pointer;
  color: #fff;
}
.header__arrow-svg:hover {
  color: #F0145A;
  opacity: 1;
}
.header .header__nav-mobile {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}
.header .header__nav-mobile .header__nav-link {
  display: block;
  padding: 12px;
  text-align: center;
  background-color: #F5F5FA;
  border-radius: 12px;
  color: #24A3D9;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.header .header__nav-mobile .header__nav-link:hover {
  color: #F0145A;
}
.header .header__nav-mobile .header__nav-link--active {
  color: #F0145A;
}

.offcanvas-backdrop.show {
  background-color: #323264;
  opacity: 0.7 !important;
}

.offcanvas {
  padding: 12px;
}
.offcanvas.offcanvas-end {
  width: calc(100% - 16px) !important;
  max-width: 360px;
  left: 50% !important;
  right: auto !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 12px !important;
  height: auto !important;
  border: none !important;
}
.offcanvas.offcanvas-end .offcanvas-header {
  padding: 12px 12px 12px;
  display: flex;
  justify-content: flex-end;
}
.offcanvas.offcanvas-end .offcanvas-header .btn-close {
  border-radius: 8px;
  padding: 12px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F0145A'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}
.offcanvas.offcanvas-end .offcanvas-header .btn-close:focus {
  box-shadow: none;
}
.offcanvas.offcanvas-end .offcanvas-body {
  padding: 12px 12px 24px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;
}
.wrapper__bg {
  position: relative;
  z-index: 3;
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
}
.wrapper__bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 20px;
  right: 20px;
  height: 10px;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
}
.wrapper__bg::after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -20px;
  left: 40px;
  right: 40px;
  height: 10px;
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
}

.main {
  padding: 30px 0 60px 30px;
}
.main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main h1,
.main p {
  margin: 0;
  padding: 0;
}
.main__menu {
  padding-bottom: 30px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.main__menu::-webkit-scrollbar {
  display: none;
}
.main__menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  background-size: calc(100% - 30px) 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
.main__scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  display: inline-flex;
  padding: 0 30px 15px 0;
  list-style: none;
  margin: 0;
  color: #B3B3BA;
}
.main__scroll-item {
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.main__scroll-item:hover {
  color: #F0145A;
}
.main__scroll-item--active {
  color: #F0145A;
}
.main__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  padding: 30px 30px 0 0;
}
.main__description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
.main__description-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.main__description-text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  line-height: 30px;
  color: #fff;
}
.main__contentservice {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;
  padding: 30px 0 0 0;
}
.main__service {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.main__service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-direction: row;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #24A3FF;
}
.main__service-btn:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.main__service-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
.main__group {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__group-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}
.main__card-svg {
  background-color: #fff;
  border-radius: 24px;
  padding: 14px;
}
.main__card-title {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  color: #24A3FF;
  padding-bottom: 0;
  margin-bottom: 0;
}
.main__card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  line-height: 26px;
}

.footer {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */