@use 'colors';
@use 'mixins';
@use 'typography';


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$main-reg;
}

.header {
    position: relative;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    

    &__back {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        pointer-events: none;
        &-svg svg{
            height: auto;
            object-fit: cover;
        }
    }
    &__content{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;  
    }
    &__top{
        padding: 10px 15px 10px 15px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(245, 245, 250, 0.20);
    }
    &__lang-list{
        display: flex;
    }
    &__lang-btn{
        color: #fff;
        background: none;
        padding: 5px 7px;
        cursor: pointer;
        font-family: mixins.$font-name;
        font-weight: mixins.$weight-reg;
        line-height: normal;
        &--active{
            border-radius: 8px;
        background-color: colors.$accent;
        font-weight: mixins.$weight-bold;
        }
        &:hover:not(&--active){
            border-radius: 8px;
            background-color: colors.$accent;
        }
    }
    &__number a{
        text-decoration: none;
        color: #fff;
        line-height: normal;
        font-family: mixins.$font-name;
        font-weight: mixins.$weight-bold;
    }
    &__middle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
    }
    &__burger-btn{
        background: none;
    }
    &__down{
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    &__main-title{
        text-align: center;
        h1{
        color: #fff;
        font-family: mixins.$font-name;
        font-weight: mixins.$weight-bold;
        line-height: normal;
        font-size: 40px;
        }
    }
    &__scrol{
        margin-top: 160px;
        padding-bottom: 10px;
    }
}
