@use 'colors';
@use 'mixins' as *;
@use 'typography';
@use 'header';
@use 'footer';


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

.wrapper {
    @include flex(stretch, flex-start, 0, column);

    &__bg {
        position: relative;
        z-index: 3;
        background: colors.$grad-supersoft;
        border-radius: 0 0 12px 12px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: -10px;
            left: 20px;
            right: 20px;
            height: 10px;
            background: #CACADB;
            border-radius: 0 0 12px 12px;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -20px;
            left: 40px;
            right: 40px;
            height: 10px;
            background: #E7E7F2;
            border-radius: 0 0 12px 12px;
        }
    }
}


.main {
    padding: 30px 0 60px 30px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    &__menu {
        padding-bottom: 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
        background-size: calc(100% - 30px) 4px;
        background-position: 0 100%;
        background-repeat: no-repeat;
    }

    &__scroll {
        @include flex(center, flex-start, 30px);
        @include font-style(30px, 700);
        white-space: nowrap;
        display: inline-flex;
        padding: 0 30px 15px 0;
        list-style: none;
        margin: 0;
        color: colors.$gray-text;
    }

    &__scroll-item {
        cursor: pointer;
        position: relative;
        transition: color 0.3s;

        &:hover {
            color: colors.$accent;
        }

        &--active {
            color: colors.$accent;
        }
    }

    &__content {
        @include flex(flex-start, center, 0, column);
        padding: 30px 30px 0 0;
    }

    &__description {
        @include flex(flex-start, center, 30px, column);

        &-title {
            @include font-style(20px, 700);
            color: #fff;
        }

        &-text {
            margin: 0;
            @include font-style(19px, 400);
            line-height: 30px;
            color: #fff;
        }
    }

    &__contentservice {
        @include flex(flex-start, flex-start, 0, column);
        padding: 30px 0 0 0;
    }

    &__service {
        @include flex(flex-start, center, 10px, column);

        &-btn {
            @include flex(center, center, 2px);
            background: none;
            @include font-style(14px, 700);
            color: colors.$active-reg;

            &:hover {
                color: colors.$accent;
                transition: color 0.3s ease;
            }
        }

        &-title {
            @include font-style(30px, 700);
        }
    }

    &__group {
        margin-top: 30px;
        @include flex(center, flex-start, 30px);
        flex-wrap: wrap;

        &-card {
            @include flex(flex-start, center, 15px, column);
        }
    }

    &__card-svg {
        background-color: #fff;
        border-radius: 24px;
        padding: 14px;
    }

    &__card-title {
        margin-top: 15px;
        @include font-style(23px, 700);
        color: colors.$active-reg;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    &__card-text {
        @include font-style(16px, 400);
        color: #fff;
        line-height: 26px;
    }
}

.wrapper__slider {
    margin: 50px 30px 0 30px;
    @include flex(center, center, 0, column);
}

.slider__content {
    background-color: colors.$gray-bg;
    @include flex(flex-start, center, 0, column);
    padding: 30px 20px 0 20px;

    &-btn {
        @include flex(center, center, 2px);
        background: none;
        @include font-style(14px, 700);
        color: colors.$active-reg;

        &:hover {
            color: colors.$accent;
            transition: color 0.3s ease;
        }
    }

    &-text {
        margin-bottom: 0;
        margin-top: 5px;
        @include font-style(30px, 700);
    }

    &-people {
        margin-top: 30px;
        margin-bottom: 0;
        color: colors.$gray-text;
        @include font-style(17px, 700);
        align-self: stretch;
    }

    &-position {
        margin-top: 6px;
        color: colors.$gray-text;
        @include font-style(14px, 400);
        align-self: stretch;
        margin-bottom: 30px;
    }

}

.slider__control {
    @include flex(center, center, 15px);

    &-btn {
        background: none;
        color: colors.$active-reg;

        &:hover {
            color: colors.$active-reg;
            transition: color 0.3s ease;
        }
    }
}